# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
poker/
venv/
.env/

# Environment variables
*.env

# Logs
*.log
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Training data
data/

# Model weights
models/
